@charset "utf-8";
*{
    font-family: 'Istok Web', sans-serif;
    text-decoration:none;
}
html {
    scroll-behavior: smooth
}
body{
    margin: 0;
    padding: 0;
    
}
#wrapper{
    overflow-x: hidden;
}
#headerNav{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width:100vw;
    height: 7vh;
    position: fixed;
    top:0;
    left:0;
    z-index: 999;
     
}

.navigation{
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width:45%;
    margin-right:2%; 
}
.navItem{
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    padding-left: .8em;
    padding-right: .8em;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
    border: 2px solid transparent;
    border-radius: 15%;
    transition: all 300ms ease-in-out;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.05em;
    text-decoration: none;
    color:rgb(0, 0, 120);
    font-weight: bold;
}
.navItem:hover{
    border: 2px solid #3cc7f3;
}
#mobileNavigation{
    display: none;
    position: fixed;
    top: 7vh;
    z-index: 999;
    width: 100%; 
}
.mobileNav a{
    display: block;
    background-color: #7B8382;
    border-radius:0px;
}
.mobileIcon{
    display: none;
    height: 7vh;
    position: fixed;
    top: 0;
    right: 1%;
    z-index: 9999;
    
}
.mobileIcon img{
   max-height: 3vh;
}
#logo{
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    max-height:5vh;
}
h1{
    margin-left: 1%;
    margin-top: 2vh;
    margin-bottom:0; 
    
}
h2{
    margin-left:3%;
}
h3{
    margin-left:2%;
}
#carousel{
    background-color: #7B8382;
    position: relative;
}
#backImg{
    width:100%;
}
p{
    padding-left: 2%;
    max-width: 95vw;

}

.slide{
    display: none;
    position:absolute;
    width: 100%;
    margin:0;
    padding: 0;
    max-height: 100%;
    overflow: hidden;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
#transition{
    background-image: linear-gradient(transparent, white);
    position: absolute;
    bottom: -3px;
    z-index: 100;
    width:100%;
    height: 10vh;
}

.content{
    width:100vw;
    padding-top:5%; 
   margin-bottom: 12vh;

   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   -ms-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   -ms-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   -ms-flex-pack: distribute;
   justify-content: space-around;
   -webkit-align-content: stretch;
   -ms-flex-line-pack: stretch;
   align-content: stretch;
   -webkit-align-items: flex-start;
   -ms-flex-align: start;
   align-items: flex-start;
}
.contentText{
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    width:40%;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.bold{
    font-weight: bold;
    font-size: 1.5em;
}
.paragraph{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width:50%;
}
.text{
    text-align: center;
}
.icon{
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    padding: 10px;
    
}
.icon img{
    width:60px;
}
img.icon{
    width:30px;
    transition: all 300ms ease-in-out;
}
img.icon:hover{
    transform: scale(1.5);
}
.contentImg{
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    width:50%; 

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.contentImg img{
    max-width: 100%;
}
.mainImg{
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    
    min-width: 255px;
    margin: 10px;
}
.mainImg img{
    width:100%;
}
.sideImg{
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    width:100%;
    min-width: 255px;
    height: 100%;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;

}
.sideImg img{
    width:15%;
    margin: 5px;
    transition: all 300ms ease-in-out;
}
.sideImg img:hover{
    transform:scale(1.3);
    cursor: pointer;
}
.materialboxdiv{
    display: none;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.materialboxdiv img{
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    width:20%;
}
.close{
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.products{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    border-top: 3px solid #7B8382;
    border-bottom: 3px solid #7B8382;
    padding: 12vh 0;
    
}
.productLink{
    width:20%;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    min-width: 200px;
    min-height: 300px;
    max-width: 500px;
    margin:1%;
}
.items{
   
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
 transition:all 300ms ease-in-out; 
 position: relative;
}
.items:hover{
    transform: scale(1.02);
    filter: blur(100%);
}
.title{
    font-size: 1.3em;
    color: rgba(0, 0,120, 1);
    font-weight: bold;
    text-shadow: 0px 0px 1px #000;
}
.description{
    color: #000;
    text-shadow: 0px 0px 1px #000;
}
.oneItem{
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    color: #fff;
    padding: 1%;
    max-width: 100%;
    max-height: 100%;
}
.plus{
    opacity: 0;
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    font-size: 2.5em;
    position: absolute;
    text-align: center;
    cursor: pointer;
    top: 50%;
    left:50%;
    transition: all 300ms ease-in-out;
    transform: translate(-50%,-50%);

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.items:hover .plus{
    opacity: 1;
}
.plusItem{
  
   -webkit-order: 0;
   -ms-flex-order: 0;
   order: 0;
   -webkit-flex: 0 1 auto;
   -ms-flex: 0 1 auto;
   flex: 0 1 auto;
   -webkit-align-self: auto;
   -ms-flex-item-align: auto;
   align-self: auto;
}
.plusSize{
    font-size: 400%;
}
img.oneItem  {
    margin-top: 0%;
    padding-top: 0;
    width: 100%;
}
p.oneItem{
    width:90%;
}
.aboutUs{
    padding-top: 12vh;
    margin-bottom: 12vh;
}
.aboutUsLogo{
    width:30%;
}
#showSpecs{
    display: none;
    width: 30%;
    min-width: 210px;
}
#text{
    padding-top: 0;
}
#copied{
    visibility: hidden;
    display: block;
    text-align: center;
    padding: 5px 10px;
    background-color: #7B8382;
    border-radius: 15px; 
    z-index: 1;
    transition:all 300ms linear;
}
.footerWrapper{
    height: 40vh;
    background-color: #7B8382;
    border-top: 2px solid #000;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.footer{
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.footerLogo{
    width:10%;
    margin:15px;
    position: absolute;
    left: 0;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}
.socialIcon{
    width:45px;
}
.socialLink,.support{
    margin: 5%;
    transition: all 300ms 
    ease-in-out;
    color:#000;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.socialLink:hover{
    transform: scale(1.1);
}
a[href="#main"]{
    z-index: 999;
    transition: all 300ms ease-in-out;
}
a[href="#main"]:hover{
    transform: scale(1.1);
}
span.oneItem{
    padding:10px 20px; 
    border-radius:10px 0;
    background-color: #3cc7f3;
    text-decoration: none;
    margin-bottom: 10px;
    transition: all 300ms ease-in-out;
}
@media screen and (min-width:320px) and (max-width:785px){
    .mobileIcon{
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .navItem{
        display: none;
    }
    .content{
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .contentText{
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
        width:90%;
    }
    .contentImg{
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
        width:90%;
    }
    
   
}
@media screen and (min-width:320px) and (max-width:418px){
    .statement{
        top:11%;
        font-size: 1em;
    }
}
@media screen and (min-width:419px) and (max-width:509px){
    .statement{
        top:11%;
        font-size: 1.3em;
    }
    .materialboxdiv img{
        width:50%;
    }
}
@media screen and (min-width:510px) and (max-width:760px){
    .statement{
        top:20%;
        font-size: 1.5em;
    }
    .materialboxdiv img{
        width:40%;
    }
}

@media screen and (min-width:761px) and (max-width:915px){
    .statement{
        top:30%;
    }
    .materialboxdiv img{
        width:30%;
    }
}

@media screen and (max-width:1140px){
    
    .contentImg{
        -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    }
}

@media screen and (min-width:1900px){
    *{
        font-size: 1.1em;
    }
    .icon img{
        width:100px;
    }
    .socialIcon{
        width:90px;
    }
    .aboutUs{
        font-size: 1.2em;

    }
    .aboutUs h2{
        font-size: 2em;

    }
}
